
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h3>Bem vindo</h3>
        <a href="/Chat/Conversacao" class="btn btn-primary">
            Entrar no Chat
        </a>
    </div>
</body>
</html>

